:root {
  --width: 1000px;
  --height: 650px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./images/background.png');
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  position: relative;
  width: var(--width);
  height: var(--height);
  font-size: 32px;
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid grey;
  z-index: 10;
}

#display {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

#score, #info {
  width: 200px;
  text-align: center;
}
#info
{
  color: aqua;
}

#score {
  color: aqua;
}

#start {
  background-color:aqua;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

#start:hover {
  background-color: azure;
}
